@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "bootswatch";

body {
  font-family: 'Lora', serif;
  overflow-y: scroll;
}

.footer {
	position: static;
	bottom: 0px;
}
